* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}

main {
  width: 85%;
  margin: 2rem auto;
  max-width: 600px;
}

body {
  background: linear-gradient(90deg, #e0e9ec, #f9e0e2) fixed center;
  line-height: 1.4;
}

